*  {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  background-color: #fafafa;
  color: #333333;
  margin: 0;
}
textarea,
select,
input[type="email"],
input[type="text"],
input[type="password"],
input[type="file"], 
input[type="url"],
input[type="search"],{
  border: 1px solid #e5e5e5;
  background-color: #fcfcfc;
  padding: .8em .5em;
  width: 100%;
}

input, select {
    margin-top: 5px;
  }

input[type="submit"] {
  padding: 0.8em;
}

textarea:focus,
select:focus,
input[type="email"]:focus,
input[type="text"]:focus, 
input[type="password"]:focus {
  background: #fff
}

a {
  color: #a7a7a7;
  &:hover,
  &:focus, 
  &:active {
    color: aqua;
  }
}

p {
  line-height: 1.4em;
}


// /* Custom, iPhone Retina */ 
//     @media only screen and (min-width : 320px) {
        
//     }

//     /* Extra Small Devices, Phones */ 
//     @media only screen and (min-width : 480px) {

//     }

//     /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      font-size: 16px;
    }

//     /* Medium Devices, Desktops */
//     @media only screen and (min-width : 992px) {

//     }

//     /* Large Devices, Wide Screens */
//     @media only screen and (min-width : 1200px) {

//     }