.site-footer, .page-wrapper:after {
  height: 150px;
}
.site-footer {
  background-color: #fff;
  border: 1px solid #ebebeb;
  padding-top: 2em;
}

.ul-site-footer {
  padding: 0;
  text-align: center;
  li {
    display: inline;
    color: #fff;
  }
}
