.ul-btn-grouped {
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 3px;
  margin: 20px;
  li {
    padding: 1em;
    margin: 0;
    background-color: #ebebeb;
    transition: .3s;
    border-bottom: 1px solid #fff;
    a {
      text-decoration: none;
      color: #333;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: $primary-blue;
      a {
        color: #fff;
      }
    }
  }
}

@media screen and (min-width: 768px){
  .ul-btn-grouped {
    display: inline-block;
    li {
      display: inline;
    }
  }
}